{% extends "base.html" %}
{% block title %}Input Parameters{% endblock %}
{% block content %}
<div class="container-fluid">
  <p class="lead">Select your category, the user's tweets you want to classify and the number of tweets to return.</p>
  <form action="#" method="post">
    <div class="container-fluid">
      <label for="model_names">Your categories:</label>
      <select name="model_names" method="POST" action="/">
      <option value="{{model_names[0]}}" selected>{{model_names[0]}}</option>
      {% for model_name in model_names[1:] %}
        <option value="{{model_name}}">{{model_name}}</option>
      {% endfor %}
      </select>
    </div>
    <div class="container-fluid">
      <label for="search_name">Name of this feed: </label>
      <input type="text", name="search_name", id="search_name" placeholder="Research">
    </div>
    <div class="container-fluid">
      <label for="handles">Twitter handles: </label>
      <input type="text", name="handles", id="handles" placeholder="@SydneyUni @UNSW @MonashUni">
    </div>
    <div class="container-fluid">
      <label for="num_tweets">Maximum number of tweets to be shown: </label>
      <input type="number", name="num_tweets", id="num_tweets" placeholder="10">
    </div>
    <div class="container-fluid"><input type="submit"></div>
</div>
{% endblock %}