{% extends "base.html" %}
{% block title %}Input Parameters{% endblock %}
{% block content %}

<div class="container-fluid">
  <form action="#" method="post">
    
    <p class="lead"> Please submit the following details to train your model. </p>
    <div class="container-fluid">
      <label for="user_ids">Twitter handles: </label>
      <input type="text", name="user_ids", id="user_ids" placeholder="@NASA @SpaceX">
    </div>
    <div class="container-fluid">
      <label for="category">Name of category: </label>
      <input type="text", name="category", id="category" placeholder="Humans to Mars">
    </div>
    <div class="container-fluid">
      <label for="max_tweets">Maximum number of tweets to be trained on: </label>
      <input type="number", name="max_tweets", id="max_tweets" placeholder="10">
    </div>
    <div class="container-fluid">
      <label for="clf_type">Model type: </label>
      <select name="clf_type" method="POST" action="/">
        <option value="{{clf[0]}}" label="{{clf_model_descriptions[clf[0]]}}" selected>{{clf[0]}}</option>
        {% for model_type in clf[1:] %}
          <option value="{{model_type}}" label="{{clf_model_descriptions[model_type]}}">{{model_type}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="container-fluid">
      <input type="checkbox", id="test_checkbox", name="test">
      <label for="test_checkbox">Testing</label>
    </div>
    <div class="container-fluid"> 
      <input type="submit">
    </div>
</div>

{% endblock %}