{% extends "base.html" %}
{% block title %}Classification Process{% endblock %}
{% block content %}
<form action="#" method="post">
  <p>Does this tweet belong to the category {{category}}?</p>
  <p>
    <input type="submit" value="Yes" name="submit_button">
    <input type="submit" value="No" name="submit_button">
    <input type="submit" value="Retrain" name="submit_button">
  </p>
  <blockquote class="twitter-tweet">
    <a href="https://twitter.com/x/status/{{id}}"></a> 
  </blockquote>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
</form>
{% endblock %}